<div class="container-fluid">
  <div class="row-fluid" ng:controller="CartForm">
    <div class="span12">
      <!--Body content-->
			<h1>Customer Information</h1>
			<div class="span8" style="text-align:right;">
  			<div class="input-group">
          <span class="input-group-addon">Account Name:</span>
          <input ng-model="name" placeholder="Account Name">
        </div>
  			<div class="input-group">
          <span class="input-group-addon">Account Number:</span>
          <input ng-model="number" placeholder="Account#">
        </div>
			</div>		
			<div class="span3" style="text-align:right;">
  			<div class="input-group">
          <span class="input-group-addon">PO Number:</span>
          <input ng-model="po" placeholder="PO#">
        </div>
				<div class="btn-group">
    			<button class="btn btn-primary" type="button" ng:click="saveList()">Save</button>
					<button class="btn btn-primary" type="button" ng:click="saveList()">test</button>
  				<button class="btn btn-success" ng:click="download(name,number,po,date)" type="button">Download</button>
  			</div>
			</div>
		</div>
		<div class="row-fluid" style="text-align:right;">
			<div class="span8">
  			<div class="span12 input-group">
          <span class="input-group-addon" >Date:</span>
          <input ng-model="date" placeholder="">
        </div>
  			
			</div>		
			<table class="table" id="orderForm">		
        <thead>
          <tr>
							<th>Cases</th>
							<th>Product Number</th>  
							<th>Description</th>
							<th></th>
            	<th>Size</th>
          </tr>
        </thead>
        <tbody ng-repeat="order in invoice.items">
          <tr >
							<td><input type="number" ng:model="order.qty" ng:required class="input-mini"></td>
							<td>{{order.code}}</td>
							<td>{{order.description}}</td>
							<td></td>
							<td>{{order.size}}</td>
					</tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
