<div class="container-fluid">
  <div class="row-fluid" ng:controller="CartForm">
    <div class="span12">
      <!--Body content-->
			<h1>Customer Information</h1>
			<div class="span8" style="text-align:right;">
  			<div class="input-group">
          <span class="input-group-addon">Account Name:</span>
          <input type="text" class="form-control" placeholder="Account Name">
        </div>
  			<div class="input-group">
          <span class="input-group-addon">Account Number:</span>
          <input type="text" class="form-control" placeholder="Account#">
        </div>
			</div>		
			<div class="span3" style="text-align:right;">
  			<div class="input-group">
          <span class="input-group-addon">PO Number:</span>
          <input type="text" class="form-control" placeholder="PO#">
        </div>
  			<div class="input-group">
          <span class="input-group-addon">Date:</span>
          <input type="text" class="form-control" placeholder=>
        </div>
			</div>
			<div class="btn-group">
  			<button class="btn btn-primary" type="button">Save</button>
				<button class="btn btn-success" ng:click="download(this)" type="button">Download</button>
			</div>		
			<table class="table" id="orderForm">		
        <thead>
          <tr>
							<th>Cases</th>
							<th>Product Number</th>  
							<th>Description</th>
							<th></th>
            	<th>Size</th>
          </tr>
        </thead>
        <tbody ng-repeat="order in invoice.items">
          <tr >
							<td><input type="number" ng:model="order.qty" ng:required class="input-mini"></td>
							<td>{{order.code}}</td>
							<td>{{order.description}}</td>
							<td></td>
							<td>{{order.size}}</td>
					</tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
