<div class="container-fluid">
  <div class="row-fluid" ng:controller="CartForm">
    <div class="span12">
      <!--Body content-->		
			<table class="table" id="orderForm">
        <thead>
          <tr>
							<th>Cases</th>
							<th>Product Number</th>  
							<th>Description</th>
							<th></th>
            	<th>Size</th>
							<th></th>
							<th><div class="btn-group">
                <a href="#/checkout" class="btn btn-success" id="checkout">checkout</a>
              </div></th>
          </tr>
        </thead>
        <tbody ng-repeat="order in invoice.items">
          <tr >
							<td><input type="number" ng:model="order.qty" ng:required class="input-mini"></td>
							<td>{{order.code}}</td>
							<td>{{order.description}}</td>
							<td></td>
							<td>{{order.size}}</td>
							<td></td>
							<td><button type="button" class="btn btn-danger btn-mini" ng:click="removeItem($index)">Remove</button></td>
					</tr>
        </tbody>
				<tbody>
    		 <tr >
    					<td>Product Number</td>
							<td>TAG</td>
    					<td>{{order.description}}<input ng-model="query3"></td>
							<td>Price</td>
							<td>Size</td>
    					<td>BPC</td>
							<td></td>
    			</tr>
				</tbody>
				<div ng-show="checked">{{(query3.length >= 3) && (filteredData = (orders | filter:query3))}}</div>		
        <tbody ng-show="query3.length >= 2" ng-repeat="order in filteredData" >
          <tr >
							<td>{{order.code}}</td>
							<td>{{order.value1}}</td>
							<td>{{order.description}}</td>
							<td>{{order.price | currency}}</td>
							<td>{{order.size}}</td>
							<td>{{order.value2}}</td>
							<td><button type="button" class="btn btn-success btn-mini" ng:click="addItem(order)">Add</button></td>
					</tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
